<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--정적 파일 실행-->
    {% load static %}

    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />

    <script
      src="{% static 'js/users.js' %}"
      type="text/javascript"
      defer
    ></script>
    <title>후니머니</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar_menu">
        <li><a href="/logout">서울</a></li>
        <li><a href="/mypage">경기</a></li>
        <li><a href="/login">강원</a></li>
        <li><a href="/signup">울산</a></li>
      </div>
      <!--클릭하면 메인 홈페이지로 가는 것을 방지하기 위해 # 넣어줌-->
      <a href="#" class="navbar__toggleBtn">
        <i class="fas fa-bars"></i>
      </a>
    </div>

    <br /><br />
  </body>
</html>

{% block content %} {% endblock %}
